body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #141E30, #243B55);
    text-align: center;
    padding: 30px;
    color: #fff;
    min-height: 100vh;
}


h1 {
    font-size: 40px;
    margin-bottom: 25px;
    color: #ff4ecd;
    text-shadow: 0 0 10px #ff4ecd, 0 0 20px #ff4ecd;
    letter-spacing: 2px;
}


input {
    padding: 12px;
    margin: 8px;
    width: 220px;
    border: none;
    border-radius: 25px;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    color: white;
    font-size: 14px;
    box-shadow: 0 0 8px rgba(255, 78, 205, 0.5);
    transition: 0.3s;
}

input::placeholder {
    color: #ddd;
}

input:focus {
    box-shadow: 0 0 15px #00f2fe;
}


button {
    padding: 12px 18px;
    margin: 8px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(45deg, #ff4ecd, #00f2fe);
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.4s;
    box-shadow: 0 0 10px #ff4ecd;
}

button:hover {
    transform: scale(1.08);
    box-shadow: 0 0 20px #00f2fe;
}


ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

li {
    background: rgba(255, 255, 255, 0.1);
    margin: 12px auto;
    padding: 15px;
    width: 60%;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    color: white;
    box-shadow: 0 0 15px rgba(255, 78, 205, 0.3);
    transition: 0.3s;
}

li:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px #ff4ecd;
}


li button {
    background: #ff1744;
    border-radius: 20px;
    padding: 6px 12px;
}

li button:hover {
    background: #d50000;
    box-shadow: 0 0 10px red;
}